<html lang="en">

<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Productos</title>
</head>

<body>
    <div class="container">
        <div>
            <form id="form">
                <br>
                <h1> Ingrese Producto</h1>
                <br>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="fTitle">
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input type="number" class="form-control" id="fPrice">
                </div>
                <div class="form-group">
                    <label>Foto URL</label>
                    <input type="text" class="form-control" id="fThumbnail">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            <script type="text/javascript">
                function formSubmit(event) {
                    event.preventDefault();

                    const title = document.getElementById("fTitle").value;
                    const price = document.getElementById("fPrice").value;
                    const thumbnail = document.getElementById("fThumbnail").value;
                    const body = {
                        title,
                        price,
                        thumbnail
                    }

                    const url = "/api/productos/guardar";
                    const request = new XMLHttpRequest();
                    request.open("POST", url, true);
                    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    request.onload = function () {
                        document.getElementById("fTitle").value = "";
                        document.getElementById("fPrice").value = "";
                        document.getElementById("fThumbnail").value = "";
                        alert("Producto creado con exito")
                    };

                    request.onerror = function () {
                    };

                    request.send(JSON.stringify(body));
                }
                document.getElementById("form").addEventListener("submit", formSubmit);

            </script>

        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>