<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Productos</title>
</head>

<body>
    <div class="container">
        <style>
            img {
                width: 100%;
                max-width: 100px;
            }

            .errorBox {
                height: 200px;
                margin: 20px;
                background-color: #FBD603;
                text-align: center;
                padding-top: 1px;
            }

            .errorText {
                margin-top: 70px;
            }
        </style>
        <div>
            <br>
            <br>
            <br>
            <h1>Vista de productos</h1>
            <br>
            <br>
            <%if (products.length > 0) { %>
                <h1>asdas</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < products.length; i++) { %>
                            <tr>
                              <td><%= products[i].title %></td>
                              <td><%= products[i].price %></td>
                              <td>
                                <img src="<%= products[i].thumbnail %>" alt="Imagen no valida">
                            </td>
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            <% } %>
            <%if (products.length == 0) { %>
                <div class="errorBox">
                    <h1 class="errorText">
                        No se encontraron productos
                    </h1>
                </div>
            <% } %>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>